* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #1f0171;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

/* .btn:hover {
  background: red;
}

.btn {
  cursor: pointer;
}

#answer-buttons {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;

} */
